@model ASP_NET_MVC.Models.Student

@{
    ViewBag.Title = "AddStudent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add New Student</h2>

@using (@Html.BeginForm("SaveStudent", "Student", FormMethod.Post))
{
    <div class="form">
        @Html.LabelFor(m => m.S_id, "Student ID")
        @Html.TextBoxFor(m => m.S_id, new { @class = "form-control" })
    </div>
    <div class="form">
        @Html.LabelFor(m => m.name, "Full Name")
        @Html.TextBoxFor(m => m.name, new { @class = "form-control" })
    </div>
    <div class="form">
        <b>Gender</b>
        @Html.DropDownListFor(m => m.gender, new List<SelectListItem>
            { new SelectListItem{Text="Male", Value="Nam"},
            new SelectListItem{Text="Female", Value="Nữ"}}, "Please Select", new { @class = "form-control" })
    </div>
    <div class="form">
        @Html.LabelFor(m => m.dob, "Birthday")
        @Html.TextBoxFor(m => m.dob, new { @class = "form-control" })
    </div>
    <div class="form">
        @Html.LabelFor(m => m.@Class, "Class")
        @Html.TextBoxFor(m => m.@Class, new { @class = "form-control" })
    </div>
    <div><input type="submit" value="Submit" class=" btn btn-success" /></div>
}
<style>
    .btn {
        margin: 10px;
    }
</style>