@model IEnumerable<ASP_NET_MVC.Models.Student>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Student</h2>
@Html.ActionLink("Create New", "AddStudent", "Student")
<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
        <tr>
            <td><b>@student.S_id</b> </td>
            <td> @student.name </td>
            <td>
                @Html.ActionLink("Edit", "UpdateStudent", new RouteValueDictionary(new { s = student.S_id }))|
                @Html.ActionLink("Remove", "RemoveStudent", new RouteValueDictionary(new { s = student.S_id }))|
                @Html.ActionLink("Details", "Details", new RouteValueDictionary(new { s = student.S_id }))
            </td>
        </tr>
        }
    </tbody>
</table>
