@model ASP_NET_MVC.Models.Student
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><b>@Model.S_id</b> - <b>@Model.name</b></h2>

@Html.ActionLink("Edit", "UpdateStudent", new RouteValueDictionary(new { s = @Model.S_id }))|
@Html.ActionLink("Remove", "RemoveStudent", new RouteValueDictionary(new { s = @Model.S_id }))
<ul>
    <li>Gender: <b>@Model.gender</b></li>
    <li>Birthday: <b>@Model.dob</b></li>
    <li>Class: <b>@Model.Class</b></li>
    <li>Creating day: <b>@Model.create_date</b></li>
</ul>


