@model IEnumerable<ASP_NET_MVC.Models.University>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>University</h2>
@Html.ActionLink("Create New", "AddUniversity", "University")
<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Creating Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var univ in Model)
        {
            <tr>
                <td><b>@univ.U_id</b> </td>
                <td>@univ.name</td>
                <td> @univ.create_date </td>
                <td>
                    @Html.ActionLink("Remove", "RemoveUniversity", new RouteValueDictionary(new { s = univ.U_id }))
                </td>
            </tr>
        }
    </tbody>
</table>
