@model ASP_NET_MVC.Models.Class
@{
    ViewBag.Title = "UpdateClass";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Update Class</h2>
@using (@Html.BeginForm("SaveUpdateClass", "Class", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="form">
        @Html.LabelFor(m => m.C_id, "Class ID")
        @Html.TextBoxFor(m => m.C_id, new { @readonly = "readonly", @class = "form-control" })
        @Html.ValidationMessageFor(m => m.C_id)
    </div>
    <div class="form">
        @Html.LabelFor(m => m.dep, "Department")
        @Html.TextBoxFor(m => m.dep, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.dep)
    </div>
    
    <div><input type="submit" value="Submit" class=" btn btn-success" /></div>
}
<style>
    .btn {
        margin: 10px;
    }
</style>

