@model IEnumerable<ASP_NET_MVC.Models.Department>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Department</h2>
@Html.ActionLink("Create New", "AddDepartment", "Department")
<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>University</th>
            <th>Department Name</th>
            <th>Creating Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var department in Model)
        {
        <tr>
            <td><b>@department.D_id</b> </td>
            <td> @department.uni </td>
            <td> @department.name </td>
            <td> @department.create_date </td>
            <td>
                @Html.ActionLink("Edit", "UpdateDepartment", new RouteValueDictionary(new { id = department.D_id }))|
                @Html.ActionLink("Remove", "RemoveDepartment", new RouteValueDictionary(new { id = department.D_id }))
            </td>
        </tr>
        }
    </tbody>
</table>
